<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
 
  <form (ngSubmit)="login()" [formGroup]="loginForm">
    <ion-list>
      <ion-item lines="none">
        <ion-label position="stacked">Email</ion-label>
        <ion-input type="email" placeholder="Email" name="email" formControlName="email"></ion-input>
      </ion-item>
 
      <ion-item lines="none">
        <ion-label position="stacked">Password</ion-label>
        <ion-input type="password" placeholder="Password" name="password" formControlName="password"></ion-input>
      </ion-item>
 
    </ion-list>
 
    <ion-button class="ion-padding-horizontal" color="primary" expand="full" type="submit"
      [disabled]="!loginForm.valid">Login</ion-button>
  </form>
 
  <div class="ion-padding-horizontal">
    <ion-button color="tertiary" expand="full" routerLink="/register">Create Account</ion-button>
    <ion-button color="light" fill="clear" expand="full" (click)="openReset()">Reset Password</ion-button>
  </div>
 
</ion-content>