<ion-content>
  <img src="https://i.ibb.co/t3z8cyH/logo-maturita.png" alt="logo">

  <h1 class = "mid">
    Maturita <br> vo vrecku  
  </h1>
    
  <br>
  <br>

  <ion-button routerLink="/login" expand="block" color="lightblue" shape="round" class = "mid ion-margin-horizontal">
    Prihlásiť sa
  </ion-button>

  <br>

  <ion-button routerLink="/register" expand="block" color="background" shape="round" class = "mid ion-margin-horizontal">
    Registrácia
  </ion-button>
  
  <ion-footer class="ion-text-center">
    <p>
      Aplikácia na pomoc s prípravou na maturitu.
    </p>
  </ion-footer>
</ion-content>
